body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

h2.first, h2.second {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}

h2.first {
    color: purple;
    font-size: 120px;
    z-index: 1;
    top: 10%;
    transition: 0.8s;
}

h2.second {
    color: magenta;
    top: 20%;
    font-size: 30px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s, font-size 0.5s;
}

h2.first:hover + h2.second {
    opacity: 1;
    font-size: 120px;
}

h2.first:hover {
    text-shadow: 2px 2px 4px magenta;
    font-size: 150px;
}

.hover-container {
    position: relative; /* Change to relative to ensure the hover text is positioned correctly */
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    transition: transform 0.5s, opacity 0.5s;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
}

.hover-container::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent purple transparent;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.hover-container:hover::after {
    opacity: 1;
}

.hover-text {
    visibility: hidden;
    width: 550px;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: calc(100% + 20px); /* Position below the hover container */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    font-family: sans-serif;
    border: .25em solid var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
}

.hover-container:hover .hover-text {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%);
}

#container1 {
    --glow-color: purple;
    --glow-spread-color: rgba(128, 0, 128, 0.781);
    --enhanced-glow-color: rgb(216, 191, 216);
    --btn-color: rgb(75, 0, 130);
}

#container2 {
    --glow-color: orange;
    --glow-spread-color: rgba(255, 165, 0, 0.781);
    --enhanced-glow-color: rgb(255, 228, 196);
    --btn-color: rgb(255, 140, 0);
}

#container3 {
    --glow-color: red;
    --glow-spread-color: rgba(255, 0, 0, 0.781);
    --enhanced-glow-color: rgb(255, 200, 200);
    --btn-color: rgb(136, 30, 30);
}

.yearSlider {
    position: absolute;
    width: 200px;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.2s;
    top: 55%;
    left: 44.55%;
}

.yearSlider:hover {
    background: #ccc;
}

.yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(128, 128, 128, 0.5),
                0 0 4em rgba(128, 128, 128, 0.8),
                inset 0 0 .75em rgba(128, 128, 128, 0.5);
}

.yearSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(128, 128, 128, 0.5),
                0 0 4em rgba(128, 128, 128, 0.8),
                inset 0 0 .75em rgba(128, 128, 128, 0.5);
}
